* {
  box-sizing: border-box;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  color: $black;
  font-family: 'Open Sans', sans-serif;
  background-color: $white;
  animation-fill-mode: forwards;
  animation: opacity 1s;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
