* {
  box-sizing: border-box;
}

html {
  font-size: 14px;

  @include media($max-md) {
    font-size: 16px;
  }
}

body {
  max-width: 100%;
  //overflow: hidden;
  color: $black;
  font-family: 'Open Sans', sans-serif;
  background-color: $white;
  animation-fill-mode: forwards;
  animation: opacity 1s;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
