// ???
.Button {
  display: block;
  cursor: pointer;
  background: $orange;
  width: 154px;
  height: 56px;
  text-align: center;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 18px;
  border: 0;
  transition: box-shadow 0.1s;

  &:hover {
    box-shadow: 0 3px 20px rgba($orange, 0.5);
  }
}

.Button--form {
  margin: 40px auto 0;
}
