// ???
.Button {
  display: block;
  cursor: pointer;
  background: $orange;
  width: 140px;
  height: 48px;
  text-align: center;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 18px;
  border: 0;
  transition: all 0.2s;

  @media screen and (min-width: $max-md){
    width: 154px;
    height: 56px;
  }

  &:hover {
    background: $black;
    color: $white;
  }
}

.Button--form {
  margin: 40px auto 0;
}
