.ContactWidget {
  position: fixed;
  display: block;
  right: 15px;
  bottom: 15px;
  cursor: pointer;
  transform-origin: bottom;

  &:hover {
    overflow: visible;

    .ContactWidget__button {
      z-index: -1;
    }

      .ContactWidget__menu {
      opacity: 1;
      z-index: 1;
      transform: scaleY(1);
    }
  }

  @include media($max-md) {
    right: auto;
    left: calc(100vw - (100vw - 1010px) / 2);
    bottom: 88px;
  }
}

.ContactWidget__button {
  box-shadow: 0 10px 15px rgba($grey, 0.2);
  border-radius: 50%;
  border: 0;
  width: 80px;
  outline: none;
  height: 80px;
  z-index: 1;
  background: #F5F5F5 url("../images/dialog.svg") no-repeat center;
}

.ContactWidget__menu{
  display: none;
  position: absolute;
  bottom: 0;
  width: 80px;
  height: 232px;
  border-radius: 72px;
  background: #fff;
  padding: 32px 0;
  box-shadow: 0 10px 15px rgba($grey, 0.2);
  text-align: center;
  transform-origin: bottom;
  z-index: 0;
  transition: transform 0.3s ease-out, opacity 0.4s;

  @include media($max-md) {
    display: block;
    opacity: 0;
    transform: scaleY(0);
  }
}

// link
.ContactWidget__link {
  width: 28px;
  height: 28px;
  margin: 0 auto 28px;
  display: block;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.2);
  }
}

.ContactWidget__link--messenger {
  background: url("../images/dialog.svg") no-repeat center;
}

.ContactWidget__link--contact {
  background: url("../images/opened-envelope.svg") no-repeat center;
}

.ContactWidget__link--close {
  background: url("../images/close.svg") no-repeat center;
  margin-top: 68px;
}
