.Filter {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
  height: 56px;
  display: none;

  @include media($max-md) {
    display: block;
    position: fixed;
    width: 100%;
    top: 104px;
    z-index: 2;
    background: $white;
  }
}

.Filter__label {
  font-weight: bold;
  font-size: 14px;
  padding-left: 42px;
  background: url("../images/filter.svg") no-repeat left;
}

.Filter__items {
  width: 100%;
  max-width: 632px;
  margin-right: 65px;
  display: flex;
  justify-content: space-between;
}

.Filter__reset {
  border: 0;
  background: url("../images/reset-filter.svg") no-repeat center;
  width: 28px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.15);
  }
}
