.Filter {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
  height: 56px;
  display: none;
  position: fixed;
  width: 100%;
  top: 90px;
  z-index: 2;
  background: rgba($white, 0.95);

  @include media($max-md) {
    display: block;
    top: 104px;
  }
}

.Filter--mobile {
  display: flex;
  justify-content: space-between;
  padding: 17px 20px;
  font-size: 16px;

  @include media($max-md) {
    display: none;
  }
}

.Filter__page {
  font-weight: bold;
}

.Filter__label {
  font-weight: bold;
  font-size: 14px;
  padding-left: 42px;
  background: url("../images/filter.svg") no-repeat left;
}

.Filter__items {
  width: 100%;
  max-width: 632px;
  margin-right: 65px;
  display: flex;
  justify-content: space-between;
}

.Filter__reset {
  border: 0;
  background: url("../images/close.svg") no-repeat center;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: transform 0.2s;

  @media screen and (min-width: $max-sm){
    width: 28px;
    height: 20px;
    background: url("../images/reset-filter.svg") no-repeat center;
  }

  &:hover {
    transform: scale(1.15);
  }
}
