.Form {
  margin-top: 15px;

  @include media($max-md) {
    margin-top: 90px;
  }
}

.Form__label {
  display: block;
  font-size: 1.125rem;
  font-weight: bold;
  padding-top: 30px;
  margin-bottom: 15px;
}

.Form__input {
  width: 100%;
  outline: 0;
  font-size: 16px;
  border: 0;
  height: 35px;
  border-bottom: 1px solid $black;
  font-weight: normal;

  &:focus,
  &:active {
    border-bottom: 2px solid $orange;
  }
}

.Form__input--text-area {
  height: 150px;
  padding-top: 10px;

  @include media($max-md) {
    height: 255px;
  }
}
