.Language {
  margin-left: 32px;
  position: relative;
}

.Language__button {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  border: 0;
  padding-right: 15px;
  cursor: pointer;
  position: relative;
  outline: 0;
  background: transparent;

  &.is-active {

    &::before {
      transform: rotate(180deg);
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    background: url("../images/arrow-down.svg") no-repeat center;
    width: 7px;
    height: 5px;
    transition: transform 0.4s;
  }
}

.Language__dropdown {
  display: none;
  position: absolute;
  left: -2px;
  top: 25px;
  transform-origin: top;
  background: #fff;
  width: 50px;
  box-shadow: 6px 6px 16px lightgrey;
  padding: 1px 18px 10px 9px;
  border-radius: 10px;
}

.Language__link {
  display: block;
  margin-top: 10px;
  color: $grey;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.1s;

  &:hover {
    color: $black;
    font-weight: bold;
  }
}
.Language--mobile {
  margin-left: auto;
}
