.Link {
  text-decoration: none;

  //&.is-active {}
}

.Link.Link--navigation {
  font-size: 18px;
  font-weight: bold;
  color: $grey;
  position: relative;


  &:first-letter {
    text-transform: uppercase;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: $orange;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.2s;
  }

  &:hover {
    &::before {
      transform: scaleX(1);
    }
  }

  &.is-active {}
}

.Link.Link--filter {
  position: relative;
  color: $grey;
  font-size: 14px;
  padding: 20px 0;
  border-bottom: 2px solid transparent;
  transition: all 0.1s;

  &:first-letter {
    text-transform: uppercase;
  }

  &.is-active {
    color: $black;
    border-bottom: 2px solid $orange;
    pointer-events: none;
  }

  &:hover {
    color: $orange;
  }
}

.Link.Link--block {
  display: block;
}
