.Projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: 47px;
  padding-bottom: 95px;
  justify-content: space-around;

  @include media($max-md) {
    justify-content: flex-start;
  }
}

// Project
.Project {
  color:  $black;
  position: relative;
  text-decoration: none;
  display: block;
  flex: 1 0 auto;
  height: 395px;
  margin-bottom: 15px;
  max-width: 331px;
  cursor: pointer;
  transition: all 0.2s;

  @include media($max-xs) {
    margin: 0 10px 30px;
  }

  @include media($max-md) {
    margin: 0 48px 40px 0;
    flex: 0 1 auto;
  }

  &:hover,
  &:focus {
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.15);;
  }

  &.is-active {
    &::before {
      content: '';
      position: absolute;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      border: 4px solid $orange;
    }
  }

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.Project__heading {

}

.Project__photo {
  display: block;
  width: 100%;
  height: 272px;
  object-fit: cover;
}

// Project info
.Project__info {
  padding: 0 15px;
  position: relative;
  font-size: 14px;
  color: $grey;

  @include media($max-sm) {
    padding: 10px 15px;
  }
}

.Project__title {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  max-width: 251px;
  padding: 5px 0;
  height: 60px;
  color: $black;
  line-height: 1.4;
}

.Project__lang {
  position: absolute;
  right: 15px;
  top: 35px;
  text-transform: uppercase;
}

.Project__meta {
  border-top: 1px solid $grey;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
}

.Project__tags {}
.Project__tag {}
.Project__year {}
