.Slider {
  position: relative;
  margin:  0 auto;
  max-width: 901px;
  padding-bottom: 70px;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    max-width: 714px;
    height: 1px;
    background-color: $black;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;

    @include media($max-md) {
      bottom: -25px;
    }
  }

  @include media($max-md) {
    padding-bottom: 99px;
  }
}

.Slider__arrow {
  position: absolute;
  bottom: -45px;
  width: 32px;
  height: 32px;
  border: 0;
  padding: 0;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  &::before {
    z-index: 1;
    background: $black;
    width: 0;
    transition: 0.15s ease-in;
  }

  &::after {
    background: #F5F5F5;
    z-index: 0;
  }

  svg {
    position: relative;
    z-index: 3;
  }

  path {
    transition: color 0.15s ease-in;
  }

    &:hover {
    path {
      stroke: $white;
    }

    &::before {
      width: 100%;
    }
  }

  @include media($max-md) {
    bottom: -86px;
  }
}

.Slider__arrow--next {
  right: 0;
  //background: url("../images/next-arrow.svg") no-repeat center;

  @include media($max-md) {
    right: 94px;
  }
}

.Slider__arrow--prev {
  left: 0;
  //background: url("../images/prev-arrow.svg") no-repeat center;

  @include media($max-md) {
    left: 94px;
  }

  &::before {
    right: 0;
    left: auto;
  }
}

.Slider__state {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
}

.Slider__index {
  font-size: 18px;
}

.Slider__index--current {
  font-weight: bold;
}
