.Window {
  border: 1px solid #D4D4D4;
  margin: 32px 0 40px;
  position: relative;

  @include media($max-md) {
    margin: 0 0 152px;
  }
}

.Window__close {
  background: url("../images/close.svg") no-repeat center;
  border: 0;
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: 1;
  top: 15px;
  right: 15px;
  transition: transform 0.2s;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }
}
