.Window {
  border: 1px solid #D4D4D4;
  padding: 0 94px 47px;
  margin: 32px 0 130px;
  position: relative;
}

.Window__close {
  background: url("../images/close.svg") no-repeat center;
  border: 0;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 15px;
  right: 15px;
}
